*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* sweet alert hack */
.swal-overlay--show-modal .swal-modal{
  will-change: unset;
}

.pace-primary-color{
  color: #335eea;
}

.pace-accent-color{
  color: #FF6584;
}

.pace-bg-primary{
  background: #335eea;
}

.pace-bg-accent{
  background: #FF6584;
}


.pace-btn{
  padding: .5625rem 1rem !important;
  font-size: 1.0625rem !important;
}