body{
  background: #f4f4f4f4;;
  
}
#container{
  /* width:70%; */
  padding: 23px;
}

/* add user button */
#container #header button{
  display:block;
  margin-left: auto;
  color: rgb(41, 38, 38);
  border: none;
  font-weight: 700;
}

/* Navigation tabs styles*/
.tabs{
  margin: 30px 0px 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabs ul > li{
  background: #333;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
}

.tabs ul > li:first-of-type{
  background: #333;
  background: #213260;

}

.tabs ul > li:nth-child(2){
  background: #333;
  background: #213260;

}

.tabs ul > li:last-of-type{
  background: #333;
  background: #213260;
}

#main h1{
  margin-left: 20px;
  margin: auto;
}
#main .tabs ul{
  display: flex;
  gap: 23px;
  justify-content: start;
  list-style-type: none;
  cursor: pointer;
}

section#main .tabs ul > li{
  font-size: 19px;
  padding: 8px 10px;
}

section#main .tabs ul > li:first-of-type{

  border-bottom: 3px solid rgb(240, 108, 108);

}

/* search section */

#search-container{
  display: block;
  margin-left: auto;
}

#search-container input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 8px;
}


/* table style */
table#employee_list{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.4rem;
}

#profile-details td{
  font-size: 18px;
  padding: 15px;
  color: rgb(141, 135, 135);
  font-weight: 500;
  color: #60668b;
  /* cursor: pointer; */
}
.profile tr{
  border-radius: 1px;
  box-shadow: 1px 1px #ccc;
}
.profile td{
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.profile{
  border-radius: 5px;
  background-color: #fff;
  color: rgb(87, 63, 63);
  color: #424b75;
  border-radius: 3px;
}

.status{
  margin: 7px;
}

.red-status{
  color: red;
}

.green-status{
  color: green;
}

.more-icon{
  float: right;
  clear: both;
  margin-right: 10px;
  color: #333;
  cursor: pointer;
  padding: 12px;
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 80px;
  background-color: #213260;
  color: #ccc;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -40px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #213260 transparent transparent transparent;
}

/* this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.small-popup{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.small-popup a{
  color: #f4f4f4;
}

/* sweet alert hack */
.swal-overlay--show-modal .swal-modal{
  will-change: unset;
}

.swal-icon{
  background: #213260;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#pager-link{
  margin-top: 4px;
  padding: 12px;
}

#pager-link a{
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
}

/* to set next to left and a margin for itself */
#pager-link a.pager-link_control{
  margin-left: 10%;
  margin-right: 65%;
}


/* modal form */

.bot{
  color:#213260;
}
#error_{
  color: #213260;
}

#close{
  color: #f4f4f4;
  float: right;
  cursor: pointer;
}

#employ_form{
  position: fixed;
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #f4f4f4;
  background: rgba(0,0,0,0.8);
  /* background: rgba(255,255,255,0.96); */
  display: none;
  z-index: 99;
  overflow: auto;
}

#info{
  display: none;
  width: 30%;
  color: #333;
  background: #f4f4f4;
  margin: 0px;
  /* margin-bottom: 400px; */
  border-radius: 6px;
}
#info h3{
  padding: 20px;
  background: #213260;
  color: whitesmoke;
}

#info ul{
  padding: 20px;
  list-style-type: disc;
}
#info ul li{
  margin: 20px 20px;
  color: #424b75;
}
#info ul h4{
  margin: 20px 0.3rem;
  color: #213260;
  font-size: 1.1rem;
  width: 30rem;
}
#info ul h4 > span{
  font-size: 0.92rem;
}

/* form section styles */
#form_section{
  margin-top: 27px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  width: 80%;
  background: #ccc;
  border-radius: 6px;
}

#form_heading{
  padding: 12px;
  background: #213260;
  color: whitesmoke;
  font-size: 1.6rem;
}

#form_heading span{
  position: relative;
  bottom: 12px;
}

#form_section #close{
  padding: 10px 10px;
  border: none;
  outline: none;
}

#form_section label{
  color: #424b75;
  font-size: large;
}
#form_section input, select{
  border: 1px solid #ccc;
  background: #f4f4f4;
  font-size: 17px;
  padding: 12px 50px;
  border-radius: 6px;
  outline: none;
  margin: 0px 12px;
  width: 70%;
}

select{
  padding: 12px 78px;
}

#add_employee_btn{
  padding: 9px;
  outline: none;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  display: block;
  margin: auto; 
  width: 20%;
}

.add-form{
  display: flex;
  margin-top: 33px;
}

.add-form section{
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* >>>>>>>>>>> EDIT FORM STYLE <<<<<<<<<<<<<<<< */


/* modal edit */

#close_edit{
  color: #f4f4f4;
  float: right;
  cursor: pointer;
}

#edit_form{
  position: fixed;
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #f4f4f4;
  background: rgba(0,0,0,0.8);
  /* background: rgba(255,255,255,0.96); */
  display: none;
  z-index: 99;
  overflow: auto;
}

#edit_info{
  display: none;
  width: 30%;
  color: #333;
  background: #f4f4f4;
  margin: 0px;
  border-radius: 6px;
}
#edit_info h3{
  padding: 20px;
  background: #213260;
  color: whitesmoke;
}

#edit_info ul{
  padding: 20px;
  list-style-type: disc;
}
#edit_info ul li{
  margin: 20px 20px;
  color: #424b75;
}
#edit_info ul h4{
  margin: 20px 0.3rem;
  color: #213260;
  font-size: 1.1rem;
  width: 30rem;
}
#edit_info ul h4 > span{
  font-size: 0.92rem;
}

/* edit section styles */
#edit_section{
  margin-top: 27px;
  height: vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  width: 50%;
  background: #ccc;
  border-radius: 6px;
  padding: 10px;
}

#edit_section section#edit-form{
  display: flex;
  gap: 23px;
  justify-content: center;
}

#edit_section #edit-form section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


#edit_heading{
  padding: 12px;
  background: #213260;
  color: whitesmoke;
}

#edit_heading span{
  position: relative;
  bottom: 12px;
}

#edit_section #close_edit{
  padding: 10px 10px;
  border: none;
  outline: none;
}

#edit_section label{
  color: #424b75;
  font-size: large;
}
#edit_section input{
  border: 1px solid #ccc;
  background: #f4f4f4;
  font-size: 17px;
  padding: 12px 17px;
  border-radius: 6px;
  outline: none;
  margin: 0px 12px;
  text-align: center;
}
#edit_section section{
  gap: 4px;
  /* margin-top: 120px; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}
#edit_section select{
  margin: 0 auto;
  width: 96%;
  text-align: center;
}

#edit_employee_btn{
  position: relative;
  border-radius: unset;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.2rem;
}


@media (max-width: 1000px){
  .add-form{
    flex-direction: column;
    width: auto;
    overflow: auto;
  }
  #form_section{
    height: auto; 
    width: auto;
    margin-top: 250px;
    margin-bottom: 50px;
  }
  .add-form section{
    width: auto;
    height: 100%;
  }

}

@media (max-width: 900px){

  body{
    /* display: none; */
  }
  
  #form_section{
    height: auto; 
    width: auto;
  }
  .add-form section{
    width: auto;
    height: 100%;
  }

  #edit-form{

  }
}





