body{
  background: #f4f4f4f4;;
  
}
#container{
  /* width:70%; */
  padding: 23px;
}

/* add user button */
#container #header button{
  display:block;
  margin-left: auto;
  color: rgb(41, 38, 38);
  border: none;
  font-weight: 700;
}

/* Navigation tabs styles*/
.tabs{
  margin: 30px 0px 10px 20px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.tabs ul > li{
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.tabs ul > li:first-of-type{
  background: #333;
}

.tabs ul > li:nth-child(2){
  background: #333;
}

.tabs ul > li:last-of-type{
  background: #333;
}

#main h1{
  margin-left: 20px;
}
#main .tabs ul{
  display: flex;
  gap: 23px;
  justify-content: start;
  list-style-type: none;
  cursor: pointer;
}

section#main .tabs ul > li{
  font-size: 19px;
  padding: 8px 10px;
}

section#main .tabs ul > li:first-of-type{

  border-bottom: 3px solid rgb(240, 108, 108);

}

/* search section */

#search-container{
  display: block;
  margin-left: auto;
}

#search-container input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}


/* table style */
table#employee_list{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.4rem;
}

#profile-details td{
  font-size: 18px;
  padding: 15px;
}

.profile td{
  padding: 15px;
  font-size: 16px;
}

.profile{
  /* box-shadow: 0px 1px 0px 0px #333; */
  border-radius: 5px;
  background-color: #fff;
  border-radius: 3px;
}

.status{
  margin: 7px;
}

.red-status{
  color: red;
}

.green-status{
  color: green;
}

.more-icon{
  float: right;
  clear: both;
  margin-right: 10px;
  color: #333;
  cursor: pointer;
}

#pager-link{
  margin-top: 4px;
  padding: 12px;
}

#pager-link a{
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  /* background: black; */
}
/* to set next to left and a margin for itself */
#pager-link a.pager-link_control{
  /* float: right; */
  margin-left: 10%;
  margin-right: 65%;
}