body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container{
  width:70%;
  padding: 23px;
}

/* Navigation tabs styles*/
#main .tabs ul{
  display: flex;
  gap: 23px;
  list-style-type: none;
}

/* add user button */
#container #header{  
  margin-right: auto;
}

#container #header button{
  display:block;
  margin-left: auto;
}

/* main body  */
section#main .tabs ul > li{
  color: red;
  padding: 8px 10px;
}

section#main .tabs ul > li:first-of-type{

  border-bottom: 2px solid black;

}

/* display board */
section#board{
  /* background: red; */
}
section#board #details-label ul{

  list-style-type: none;
  display: flex;
  gap: 23px;
  /* justify-content: center; */

}

section#board #details-label ul > li:first-of-type{
  margin-right: 230px; /* add space from the first tab */
}

section#board  #details-label ul > li{
  padding: 9px 12px;
  font-size: 16px;
  color: #333;
  margin-right: 30px;
}


/* Employee profiles */

section#all-employees ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 9px 12px;

}


section#all-employees ul > li:nth-child(2){
  margin-right: 146px;
}


section#all-employees ul li:last-child{
  margin-left: 55px;
}