@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

.navbar-container {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background-color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-list li {
    font-weight: 500;
} 

.nav-list li a {
    text-decoration: none;
    color: #333;
    padding: 15px;
}

.nav-list li a:hover {
    background-image: linear-gradient(to bottom right, #ff4500, #ffffff);
    color: #fff;
}

.nav-button {
    margin: 0 10px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff4500;
    font-weight: 500;
}

/* FOOTER STYLING */
.footer-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #FFDFCA;
    margin: auto;
}

.footer-container input {
    height: 2rem;
    width: 10rem;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 10px auto 5px auto;
}

.footer-container input:focus {
    outline: none;
}

.footer-container button {
    width: 10rem;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: #ff4500;
    margin: 5px auto;
}

.footer-container p {
    font-size: 0.8rem;
    color: #222;
    margin: auto;
    padding: 10px;
}