/* 
==================================
*********   RESET ****************
==================================
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}
/* UncleBay touched here */
/* MAKE PAGE LINK ACTIVE */
.nav-list a.contact{
    background: #fff;
    color:#333;
  }
/* 
==================================
***** CONTACT CONTAINER    *******
==================================
 */
.contact-container {
    min-height: 100vh;
}
/* 
==================================
*******  CONTACT FORM ************
==================================
 */
.contact-form {
    margin: 8rem auto;
    width: 55%;
}
/* 
==================================
***    CONTACT FORM  HEADING ***
==================================
 */
.contact-form header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  2rem;
    font-size: 50px;
    line-height: 35px;
    color: #000000;
    width: 100%;
    height: 155px;
    border: 1px solid #C4C4C4;
    border-radius: 0px 0px 15px 15px;
    border-top: 8px solid #FF4500; 
    white-space: nowrap;
}
.contact-form header h2{
    font-size: 3rem;
}   
.contact-form header .icon{
    display: flex;
    font-size: 2rem;
    margin:   1rem;
}
.contact-form header .icon a i{
    color: #FF4500;
    margin:   .5rem;
    padding: .5rem;
}
.contact-form fieldset {
    width: 100%;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    margin: 1rem 0;
}
.contact-form fieldset label,
.contact-form fieldset p {
    display: block;
    width: 80%;
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
/* 
==================================
***    CONTACT FORM INPUT ***
==================================
 */
.contact-form fieldset input {
    width: 50%;
    padding-top: 1rem;
    margin: .9rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    border-color: transparent;
    border-bottom: 1px solid #C4C4C4;   
}
.contact-form fieldset textarea {
    width: 85%;
    height: 180px;
    margin:  0 1rem 1rem;
    font-size: 1.5rem;
}
.contact-form fieldset input:focus,
.contact-form fieldset textarea:focus {
    outline: none;
}
/* 
==================================
*** CONTACT FORM SUBMIT BUTTON ***
==================================
 */
input[type=submit] {
    width: 11rem;
    padding: .5rem;
    background: #FF4500;
    color: #fff;
    font-size: 1.8rem;
    border-radius: .7rem;
}
input[type=submit]:hover {
    opacity: .8;
}
/* 
==================================
******** MOBILE VIEW STYLE *******
==================================
 */
 @media(max-width:768px){
    .contact-form {
        margin: 8rem auto;
        width: 90%;
    }
    .contact-form fieldset input {
        width: 95%;
        font-size: 1.2rem;
    }
    .contact-form fieldset textarea {
        width: 90%;
        font-size: 1.5rem;
    }
 }
 