/* resetting the browser display */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Flex the dashboard container to have the sidebar and main aside */
.dashboard-container{
  display: flex;
}

/* flex the sidebar-container to make the inner content direct in columns*/
.sidebar-container{
  width: 18%;
  height: 100vh; /*enable to see effect*/
  background: rgb(33,50,96);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 2px;
  position: fixed;
}

/* Company Display Name */
.company #companyDisplay{
  color: #fff;
  font-size: 22px; /* or 2rem ?*/
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif ;
  padding: 25px 23px 0px 10px;
}

.company #companyDisplay .greetUser{
  text-transform: capitalize;
}


/* the body has a width of 80%, this might increase or reduce as more work is been done on the sidebar */
.dashboard-body{
  width: 82%;
  margin-left: auto;
}

/* flex and Styling the sidebar wrapper to align to the center */
.sidebar-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



/* Space above the links and logo */
.dashboard-link{
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 20px;
  width: 100%;
  cursor: pointer;
  /* font-weight: 500; */
  font-family: 'Roboto', sans-serif ;
}
/* dashboard links logo*/
.dashboard-link i{
  color: #fff;
  font-size: 16px;
}
.company{
  padding: 20px;
}

#companyImage{
  height: 100px;
  border-radius: 5px;
}
/* Hamburger menu */
.fa-bars{
  position: relative;
  bottom: 87px;
  color: #ffff;
  top: 10px;
  left: 90%;
  font-size: 23px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: color;
}
.fa-bars:hover{
  color: rgb(200, 210, 236);

}
.fa-bars:active{
  color: #ccc;

}
.dashboard-link a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  margin: 0px 12px;
}

.dashboard-link a:hover{
  color: #f4f4f4;
  font-size: 16px;
  transform: scale(0.8);
}

.close{
  
}

/* image on top navigation */
#logo img{
  width: 50px;
  height: 30px;
  cursor: pointer;

}

.profile-in .companyDisplay{
  cursor: pointer;
  font-size: 17px;
  text-transform: capitalize;
}



/* active sidebar  */


#active_page{
  background: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  color: #333;
  width: 100%;
  cursor: pointer;
  color: red;
}

#active_page a,
#active_page i{
  color: #333;
}
#active_page a{
  color: #333;
}

.dashboard-link{
  padding: 10px;
}

.sidebar-wrapper{
  padding: 0px;
  overflow: hidden;
}
