
.table-responsive {
    margin: 2rem auto;
    padding: 2rem;
    
}
.table {
    margin: 3rem auto;
    padding: 1rem;
}
.table .thead-dark th {
    background-color: #213260;
    border-color: #213260;
}
#presentMonth {
    text-align: center;
    margin: 2rem;
    text-transform: uppercase;
}
.cell {
    text-align: center;
    margin: 2rem;
    width: .1rem;
    border: 2px solid #ccc;
}
.cell:hover > .add-event{
    /* background: #6c757d; */
    display: inline-block;
}
.add-event  {
   display: none;
}

/* #schedule {
    display: none;
} */
.modal-header {
    background: #213260;
    color: #fff;
}
.close {

}
button.close {
    color: #fff;
    text-shadow: 0 0 #000;
    opacity: 1;
    /* background-color: #213260; */
}
button.close:hover {
    color: #fff;
}
form input {
    padding: .5rem;
    margin: .5rem;
    width: 90%;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #333;
    border-bottom: 2px solid rgba(33, 50, 96, 0.1);
    font-size: 21px;
    background: rgba(33, 50, 96, 0.1);
    font-family: 'Open Sans';
    font-style: italic;
}
.btn {
    background: #213260;
    color: #fff;
    text-transform: uppercase;
    font-style: normal;
}
.btn:hover {
    color: #ccc;
}