
.table-responsive {
    margin: 2rem auto;
    padding: 2rem;
    
}
.table {
    margin: 3rem auto;
    padding: 1rem;
}
.table .thead-dark th {
    background-color: #213260;
    border-color: #213260;
}

#presentMonth {
    text-align: center;
    margin: 2rem;
    text-transform: uppercase;
}
.cell {
    background: #fff;
    text-align: center;
    margin: 0rem;
    width: .1rem;
    border: 1px solid #ccc;
}
.cell:hover {
    background: #ccc;
    color: #212529;
}
/* .cell:hover > .add-event i{
    display: inline-block;
}
.add-event i {
   display: none;
} */

.modal-header {
    background: #213260;
    color: #fff;
}

button.close {
    color: #fff;
    text-shadow: 0 0 #000;
    opacity: 1;
}

button.close:hover {
    color: #fff;
}

form input {
    padding: .5rem;
    margin: .5rem;
    width: 90%;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #333;
    border-bottom: 2px solid rgba(33, 50, 96, 0.1);
    font-size: 21px;
    background: rgba(33, 50, 96, 0.1);
    font-family: 'Open Sans';
    font-style: italic;
}

.btn {
    background: #213260;
    color: #fff;
    text-transform: uppercase;
    font-style: normal;
}
.btn:hover {
    color: #ccc;
}
.today {
    background: rgba(33, 50, 96, .7);
    color: #fff;
}