/* 
==================================
*********   RESET ****************
==================================
 */

 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }
 
 html,
 body {
     padding: 0;
     margin: 0;
     line-height: 1.6;
     font-family: 'Roboto', sans-serif;
 }
 

#view-tasks, #accepted-tasks {
    background: #fff;
    width: 95%;
    padding: 5px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
#view-tasks table,  #accepted-tasks table {
    width: 100%;
    border-collapse: collapse;
    padding: 2rem;
    color: #fff;
}
#view-tasks button, #view-tasks a,
#accepted-tasks button, #accepted-tasks a{
    width: 5rem;
    padding: .5rem;
    margin: 1rem 0 3rem;
    text-transform: uppercase;
    background: #213260;
    color: #fff;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    border: none;
}
#view-tasks a:hover,
#accepted-tasks a:hover {
    background: #fff;
    color: #213260;
}
th, td{
    border-bottom: 1px solid #fff;
    padding: 2rem;
}
thead tr {
    background-color:  #213260;
}

tbody tr{
    background-color: rgba(33, 35, 96, .7);
} 
tbody tr #taskName{
    cursor: pointer;
}
tbody tr:hover {
    background: #213260;
}

#taskDetails{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#taskDetails #mainDetails{
    width: 40%;
    background-color: white;
    margin: 50px auto;
    height: 500px;
    position: relative;
}

#taskDetails #mainDetails button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 70px;
    margin-right: 30px;
    border: none;
    outline: none;
    padding: 7px 9px;
    background-color: #213260;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#taskDetails #mainDetails h3{
    margin: 0 auto 20px;
    padding-top: 30px;
    text-align: center;
}


#taskDetails #mainDetails p{
    margin-left: 40px;
    padding: 20px 5px;
}
/* #view-tasks button, #view-tasks i{
    font-size: 16px;
    width: 10px;
} */