/* ************** stylesheet for forgot password page *********** */
body{
    margin:0;
    padding:0;
}
*{
    font-family:Roboto;
    box-sizing:border-box;
}
/* styling for forgot password wrapper */
div.forgot-password-wrapper{
    border:hidden;
    width:100%;
    height:100vh;
}
/* styling for forgot password */
div.forgot-password-wrapper .forgot-password{
    border:hidden;
    width:50%;
    margin:80px auto;
    height:auto;
    display:flex;
    flex-direction:column;
    box-shadow:2px 2px 10px #213260;
}
/* hover effect of forgot password */
div.forgot-password-wrapper .forgot-password:hover{
    box-shadow:1px 10px 12px #213260;
}
/* styling for child element inside forgot password (parent) */
.heading,.password-policy,.password-requirement,.password-input{
    border:hidden;
    height:auto;
}
/* styling for heading start */
div.forgot-password .heading{
    background:#4D8AF0;
}
div.forgot-password .heading h1{
    text-align:center;
    color:white;
}
/* styling for heading Ends */
/* --------------------------------------------------------------------------- */
/* styling for password policy starts */
div.forgot-password .password-policy{
 
}
div.forgot-password .password-policy h3{
    text-align:center;
    color:#213260;
    
}
/* styling for password policy Ends */
/* --------------------------------------------------------------------------- */
/* styling for password requirement starts */
div.forgot-password .password-requirement{
      
}
/* to use javascript function if one condition is met it should change the icon to green */
div.forgot-password .password-requirement ul li{
    list-style-type:none;
    color:#213260;
}
div.forgot-password .password-requirement ul li i{
    color:#4D8AF0;
}
/* styling for password requirement Ends */
/* ----------------------------------------------------------------------------- */
/* styling for password input starts */
div.forgot-password .password-input{
    padding:20px; 
}
div.forgot-password .password-input form table{
    width:70%;
    border:hidden;
}
div.forgot-password .password-input form table th{
    text-align:right;
    font-size:16px;
    color:#213260;
}
div.forgot-password .password-input form table td.button{
    margin:auto;
}
div.forgot-password .password-input form table td input{
    font-size:16px;
    outline:none;
    border:1px solid #4D8AF0;
    padding:5px;
}
/*  add focus effect to the input in password input */
div.forgot-password .password-input form table td input:focus{
    box-shadow:1px 1px 2px #4D8AF0;
}
div.forgot-password .password-input form table td.button input[type=submit]{
    font-size:16px;
    padding:10px 20px;
    border-radius:5px;
    border:none;
    outline:none;
    color:white;
    background:#4D8AF0;
    /* background:#213260; */
}
div.forgot-password .password-input form table td.button input[type=submit]:hover{
    background:#2c73ed;
    transition:900ms ease-out;
}
/* styling for password Input Ends */



/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ MEDIA QUERIES SECTION $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/************************* MEDIA QUERY FOR SMALLER MOBILE DEVICE (320px) STARTS ***************************/
@media(max-width:320px){
    *{
        box-sizing:border-box;
        font-family:Roboto;
    }
    div.forgot-password-wrapper{
        padding:0px 20px;
    }
    /* increase the width of forgot password to fit the smaller device screen */
    div.forgot-password-wrapper .forgot-password{
        width:100%;
        margin:40px auto;
        box-shadow:2px 2px 5px  #213260;
    }
    /* Reduce the font size of h1 */
    div.forgot-password .heading h1{
        font-size:18px;
    }
    div.forgot-password .password-policy{
        padding:0px 10px;
    }
    div.forgot-password .password-policy h3{
        font-size:13px;
        text-align:center;
    }
    div.forgot-password .password-requirement{
        margin-top:-10px;
        padding:0px 5px 0px 0px;
    }
    div.forgot-password .password-requirement ul li{
        font-size:12px;
    }
    div.forgot-password .password-input form table{
        width:100%;
        margin-top:-20px;
        border:hidden;
    }
    div.forgot-password .password-input form table th{
        display:none;
    }
    div.forgot-password .password-input form table td input{
        width:100%;
        font-size:12px;
    }
    div.forgot-password .password-input form table td.button input[type=submit]{
        font-size:12px;
    }

}
/************************* MEDIA QUERY FOR SMALLER MOBILE DEVICE ENDS *****************************/


/************************* MEDIA QUERY FOR MEDIUM MOBILE DEVICE (375px) STARTS ***************************/
@media(min-width:320px) and (max-width:375px){
    *{
        box-sizing:border-box;
        font-family:Roboto;
    }
    div.forgot-password-wrapper{
        padding:0px 20px;
    }
    /* increase the width of forgot password to fit the smaller device screen */
    div.forgot-password-wrapper .forgot-password{
        width:100%;
        margin:40px auto;
        box-shadow:2px 2px 5px  #213260;
    }
    /* Reduce the font size of h1 */
    div.forgot-password .heading h1{
        font-size:18px;
    }
    div.forgot-password .password-policy{
        padding:0px 10px;
    }
    div.forgot-password .password-policy h3{
        font-size:13px;
        text-align:center;
    }
    div.forgot-password .password-requirement{
        margin-top:-10px;
        padding:0px 5px 0px 0px;
    }
    div.forgot-password .password-requirement ul li{
        font-size:12px;
    }
    div.forgot-password .password-input form table{
        width:100%;
        margin-top:-20px;
        border:hidden;
    }
    div.forgot-password .password-input form table th{
        display:none;
    }
    div.forgot-password .password-input form table td input{
        width:100%;
        font-size:12px;
    }
    div.forgot-password .password-input form table td.button input[type=submit]{
        font-size:12px;
    }
}
/************************* MEDIA QUERY FOR MEDIUM MOBILE DEVICE (375px) ENDS ***************************/


/************************* MEDIA QUERY FOR LARGE MOBILE DEVICE (425px) STARTS ***************************/
@media(min-width:375px) and (max-width:425px){
    *{
        box-sizing:border-box;
        font-family:Roboto;
    }
    div.forgot-password-wrapper{
        padding:0px 20px;
    }
    /* increase the width of forgot password to fit the smaller device screen */
    div.forgot-password-wrapper .forgot-password{
        width:90%;
        margin:50px auto;
        box-shadow:2px 2px 5px  #213260;
    }
    /* Reduce the font size of h1 */
    div.forgot-password .heading h1{
        font-size:18px;
    }
    div.forgot-password .password-policy{
        padding:0px 10px;
    }
    div.forgot-password .password-policy h3{
        font-size:13px;
        text-align:center;
    }
    div.forgot-password .password-requirement{
        margin-top:-10px;
        padding:0px 8px 0px 0px;
    }
    div.forgot-password .password-requirement ul li{
        font-size:12px;
    }
    div.forgot-password .password-input form table{
        width:100%;
        margin-top:-20px;
        border:hidden;
    }
    div.forgot-password .password-input form table th{
        /* display:none; */
        font-size:13px;
    }
    div.forgot-password .password-input form table td input{
        width:100%;
        font-size:12px;
    }
    div.forgot-password .password-input form table td.button input[type=submit]{
        font-size:12px;
    }
}
/************************* MEDIA QUERY FOR LARGE MOBILE DEVICE (425px) ENDS ***************************/


/************************* MEDIA QUERY FOR X LARGE MOBILE DEVICE (551px) STARTS ***************************/
@media(min-width:425px) and (max-width:551px){
    *{
        box-sizing:border-box;
        font-family:Roboto;
    }
    div.forgot-password-wrapper{
        padding:0px 20px;
    }
    /* increase the width of forgot password to fit the smaller device screen */
    div.forgot-password-wrapper .forgot-password{
        width:90%;
        margin:50px auto;
        box-shadow:2px 2px 5px  #213260;
    }
    /* Reduce the font size of h1 */
    div.forgot-password .heading h1{
        font-size:18px;
    }
    div.forgot-password .password-policy{
        padding:0px 10px;
    }
    div.forgot-password .password-policy h3{
        font-size:15px;
        text-align:center;
    }
    div.forgot-password .password-requirement{
        margin-top:-10px;
        padding:0px 8px 0px 0px;
    }
    div.forgot-password .password-requirement ul li{
        font-size:14px;
    }
    div.forgot-password .password-input form table{
        width:100%;
        margin-top:-20px;
        border:hidden;
    }
    div.forgot-password .password-input form table th{
        /* display:none; */
        font-size:14px;
    }
    div.forgot-password .password-input form table td input{
        width:100%;
        font-size:14px;
    }
    div.forgot-password .password-input form table td.button input[type=submit]{
        font-size:14px;
    }
}
/************************* MEDIA QUERY FOR X LARGE MOBILE DEVICE (551px) ENDS ***************************/


/************************* MEDIA QUERY FOR TABLET DEVICE (768px) STARTS ***************************/
@media(min-width:551px) and (max-width:768px){
    *{
        box-sizing:border-box;
        font-family:Roboto;
    }
    div.forgot-password-wrapper{
        padding:0px 10px;
    }
    /* increase the width of forgot password to fit the smaller device screen */
    div.forgot-password-wrapper .forgot-password{
        width:70%;
        margin:50px auto;
        box-shadow:2px 2px 5px  #213260;
    }
    /* Reduce the font size of h1 */
    div.forgot-password .heading h1{
        font-size:18px;
    }
    div.forgot-password .password-policy{
        padding:0px 10px;
    }
    div.forgot-password .password-policy h3{
        font-size:15px;
        text-align:center;
    }
    div.forgot-password .password-requirement{
        margin-top:-10px;
        padding:0px 8px 0px 0px;
    }
    div.forgot-password .password-requirement ul li{
        font-size:14px;
    }
    div.forgot-password .password-input form table{
        width:80%;
        margin-top:-20px;
        border:hidden;
    }
    div.forgot-password .password-input form table th{
        /* display:none; */
        font-size:14px;
    }
    div.forgot-password .password-input form table td input{
        width:100%;
        font-size:14px;
    }
    div.forgot-password .password-input form table td.button input[type=submit]{
        font-size:14px;
    }
}
/************************* MEDIA QUERY FOR TABLET DEVICE (768px) ENDS ***************************/



/************************* MEDIA QUERY FOR SMALL LAPTOP DEVICE (1024) STARTS  ***************************/
@media(min-width:768px) and (max-width:1024px){
    *{
        box-sizing:border-box;
        font-family:Roboto;
    }
    div.forgot-password-wrapper{
        padding:0px 10px;
    }
    /* increase the width of forgot password to fit the smaller device screen */
    div.forgot-password-wrapper .forgot-password{
        width:70%;
        margin:50px auto;
        box-shadow:2px 2px 5px  #213260;
    }
    /* Reduce the font size of h1 */
    div.forgot-password .heading h1{
        font-size:25px;
    }
    div.forgot-password .password-policy{
        padding:0px 10px;
    }
    div.forgot-password .password-policy h3{
        font-size:19px;
        text-align:center;
    }
    div.forgot-password .password-requirement{
        margin-top:-10px;
        padding:0px 8px 0px 0px;
    }
    div.forgot-password .password-requirement ul li{
        font-size:19px;
    }
    div.forgot-password .password-input form table{
        width:100%;
        margin-top:-20px;
        border:hidden;
    }
    div.forgot-password .password-input form table th{
        /* display:none; */
        font-size:19px;
    }
    div.forgot-password .password-input form table td input{
        width:70%;
        font-size:19px;
    }
    div.forgot-password .password-input form table td.button input[type=submit]{
        font-size:19px;
    }
}
/************************* MEDIA QUERY FOR SMALL LAPTOP DEVICE (1024) ENDS  ***************************/
