body{
    margin:0;
    padding:0;
}
*{
    font-family:Roboto;
    box-sizing:border-box;
}
div.forgot-password-wrapper{
    border:hidden;
    width:100%;
    height:100vh;
}
div.forgot-password-wrapper .forgot-password{
    border:hidden;
    width:50%;
    margin:80px auto;
    height:auto;
    display:flex;
    flex-direction:column;
    box-shadow:2px 2px 10px #213260;
}
div.forgot-password-wrapper .forgot-password:hover{
    box-shadow:1px 10px 12px #213260;
}
.heading,.password-policy,.password-requirement,.password-input{
    border:hidden;
    height:auto;
}
div.forgot-password .heading{
    background:#4D8AF0;
}
div.forgot-password .heading h1{
    text-align:center;
    color:white;
}
div.forgot-password .password-policy{
    
    
}
div.forgot-password .password-policy h3{
    text-align:center;
    color:#213260;
    
}
div.forgot-password .password-requirement{
      
}
/* to use javascript function if one condition is met it should change the icon to green */
div.forgot-password .password-requirement ul li{
    list-style-type:none;
    color:#213260;
}
div.forgot-password .password-requirement ul li i{
    color:#4D8AF0;
}
div.forgot-password .password-input{
    padding:20px; 
}
div.forgot-password .password-input form table{
    width:70%;
    border:hidden;
}
div.forgot-password .password-input form table th{
    text-align:right;
    font-size:16px;
    color:#213260;
}
div.forgot-password .password-input form table td.button{
    margin:auto;
}
div.forgot-password .password-input form table td input{
    font-size:16px;
    outline:none;
    border:1px solid #4D8AF0;
    padding:5px;
}
div.forgot-password .password-input form table td input:focus{
    box-shadow:1px 1px 2px #4D8AF0;
}
div.forgot-password .password-input form table td.button input[type=submit]{
    font-size:16px;
    padding:10px 20px;
    border-radius:5px;
    border:none;
    outline:none;
    color:white;
    background:#4D8AF0;
    /* background:#213260; */
}
div.forgot-password .password-input form table td.button input[type=submit]:hover{
    background:#2c73ed;
    transition:900ms ease-out;
}