/* ************** stylesheet for forgot password page *********** */
/* styling for the entire body */
body{
	margin:0;
	padding:0;
}
*{
    font-family:Roboto;
    box-sizing:border-box;
}

/* styling for the forgot wrapper  starts */
div.forgot-password-wrapper {
	width:100%;
	height:100vh;
	/* background: -webkit-linear-gradient(190deg, rgba(33, 50, 96, 0.24), rgba(33, 50, 96, 0.90)); */
	background:#ffffff;
	position:fixed;
}
/* styling for the forgot wrapper Ends */

/* styling for the forgot password  starts */
div.forgot-password-wrapper .forgot-password {
	 border:hidden;
	 width:48%;
	 margin:100px auto;
	 padding:10px;
	 height:70vh;
	 background:rgba(33, 50, 96, 0.89);
	 padding-top:50px;
}
/* styling for the forgot password  Ends */


/* styling for the forgot password info wrapper  starts */
div.forgot-password-wrapper .forgot-password-info-wrapper {

}
/* styling for the forgot password info wrapper  Ends */

/* styling for the forgot icon wrapper  starts */
div.forgot-password-info-wrapper .forgot-icon-wrapper {
	border:hidden;
	width:23%;
	margin:auto;
}
/* styling for the forgot icon wrapper  starts */

/* styling for the icons starts */
div.forgot-password-info-wrapper .forgot-icon-wrapper .key {
	border:hidden;
	display:inline-block;
	border-radius:50%;
	padding:30px;
	background:#fff;
	border:hidden;
}
div.forgot-password-info-wrapper .forgot-icon-wrapper .key .fa-key {
	font-size:70px;
	border:hidden;
	color:rgb(33, 50, 96, 0.90);
}
/* styling for the icons Ends */

div.forgot-password-info-wrapper .forgot-info {

}
div.forgot-password-info-wrapper .forgot-info h1,p{
	text-align:center;
}
div.forgot-password-info-wrapper .forgot-info h1{
	font-size:30px;
	color:#fff;
}
div.forgot-password-info-wrapper .forgot-info p{
	font-size:20px;
	color:#fff;
}

/* styling for the input wrapper  starts */
div.forgot-password-wrapper .input-wrapper {
	border:hidden;
	margin:auto;
	width:70%;
}

div.forgot-password-wrapper .input-wrapper .Email{
	position:relative;
	border:hidden;
	width:100%;
}
div.forgot-password-wrapper .input-wrapper .Email input[type=email]{
	width:100%;
	padding-left:47px;
	font-size:20px;
	background:transparent;
	border:hidden;
	color:white;
	border-bottom:2px solid white;
	outline:none;
}
::placeholder{
	color:rgba(255, 255, 255,0.8);
}
div.forgot-password-wrapper .input-wrapper .fa-envelope{
	position: absolute;
	left:3%;
	top:0;
	font-size:25px;
	color:rgba(255, 255, 255,0.8);
}
div.forgot-password-wrapper .input-wrapper button{
	font-size:20px;
}
/* styling for the input wrapper Ends */

/* styling for the button animation starts */
.buttons {
	 margin-top:20px;
	  text-align: center;
	  border-radius: 30px;
	}
	
	.blob-btn {
	  z-index: 1;
	  position: relative;
	  padding: 20px 46px;
	  margin-bottom: 30px;
	  text-align: center;
	  text-transform: uppercase;
	  color: rgba(33, 50, 96, 0.90);
	  font-size: 16px;
	  font-weight: bold;
	  background-color: transparent;
	  outline: none;
	  border: none;
	  -webkit-transition: color 0.5s;
	  transition: color 0.5s;
	  cursor: pointer;
	  border-radius: 30px;
	}
	.blob-btn:before {
	  content: "";
	  z-index: 1;
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  /* border: 2px solid #0505A9; */
	  border-radius: 30px;
	}
	.blob-btn:after {
	  content: "";
	  z-index: -2;
	  position: absolute;
	  left: 3px;
	  top: 3px;
	  width: 100%;
	  height: 100%;
	  -webkit-transition: all 0.3s 0.2s;
	  transition: all 0.3s 0.2s;
	  border-radius: 30px;
	}
	.blob-btn:hover {
	  color: #FFFFFF;
	  border-radius: 30px;
	}
	.blob-btn:hover:after {
	  -webkit-transition: all 0.3s;
	  transition: all 0.3s;
	  left: 0;
	  top: 0;
	  border-radius: 30px;
	}
	.blob-btn__inner {
	  z-index: -1;
	  overflow: hidden;
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  border-radius: 30px;
	  /* background: rgba(33, 50, 96, 0.90); */
	  background:white;
	  border:1px solid white;
	}
	.blob-btn__blobs {
	  position: relative;
	  display: block;
	  height: 100%;
	  -webkit-filter: url("#goo");
			  filter: url("#goo");
	}
	.blob-btn__blob {
	  position: absolute;
	  top: 2px;
	  width: 25%;
	  height: 100%;
	  background: rgba(33, 50, 96, 0.90);
	  border-radius: 100%;
	  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
			  transform: translate3d(0, 150%, 0) scale(1.7);
	  -webkit-transition: -webkit-transform 0.45s;
	  transition: -webkit-transform 0.45s;
	  transition: transform 0.45s;
	  transition: transform 0.45s, -webkit-transform 0.45s;
	}
	@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
	  .blob-btn__blob {
		-webkit-transform: translate3d(0, 150%, 0) scale(1.4);
				transform: translate3d(0, 150%, 0) scale(1.4);
	  }
	}
	.blob-btn__blob:nth-child(1) {
	  left: 0%;
	  -webkit-transition-delay: 0s;
			  transition-delay: 0s;
	}
	.blob-btn__blob:nth-child(2) {
	  left: 30%;
	  -webkit-transition-delay: 0.08s;
			  transition-delay: 0.08s;
	}
	.blob-btn__blob:nth-child(3) {
	  left: 60%;
	  -webkit-transition-delay: 0.16s;
			  transition-delay: 0.16s;
	}
	.blob-btn__blob:nth-child(4) {
	  left: 90%;
	  -webkit-transition-delay: 0.24s;
			  transition-delay: 0.24s;
	}
	.blob-btn:hover .blob-btn__blob {
	  -webkit-transform: translateZ(0) scale(1.7);
			  transform: translateZ(0) scale(1.7);
	}
	@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
	  .blob-btn:hover .blob-btn__blob {
		-webkit-transform: translateZ(0) scale(1.4);
				transform: translateZ(0) scale(1.4);
	  }
	}
/* styling for the button animation Ends */