* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.landing-page-body {
  background-image: url('img/bg-image.jpg');
  height: 100vh;
}
.free-trial-form {
  background-color: rgba(0,0,0,0.6);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.free-trial-form form.trial-form {
  display: block;
  margin: 0 auto;
}
.free-trial-form h3 {
  color: white;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.free-trial-form form.trial-form input[type="text"] {
  border: none;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  font-size: 23px;
  font-weight: 500;
  background: rgb(211, 211, 211);
  color: rgb(114, 105, 105);
  outline: none;
  margin-bottom: 120px;
}
.free-trial-form form.trial-form input[type="text"]:focus {
color: rgb(66, 56, 56);
}
.free-trial-form form.trial-form input[type="submit"] {
  border: none;
  border-radius: 12px;
  padding: 24px;
  font-size: 18px;
  background: rgb(253, 95, 4);
  color: #fff;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}
.free-trial-form form.trial-form input[type="submit"]:hover {
  opacity: 0.9;
}

/*  Small Devices */
@media only screen and (max-width: 420px) {
  .free-trial-form form.trial-form input{
    display: block;
    margin: 0 auto;
  }
  .free-trial-form form.trial-form input[type="text"] {
    margin-bottom: 10px;
    
  }
}
