* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  /* background: rgb(250, 241, 238); */
  background: #f2f2f2;
}
/* MAKE HOME LINK ACTIVE */
.nav-list a.home{
  background-color: #fff;
  color: #213260;
  height: 40px;
}
.landing-page-body{
  height: 100vh;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: right;
  /* background-image: linear-gradient(250deg, rgba(233, 183, 166, 0.2), rgba(241, 69, 6, 0.92)), url('img/landing-page.png'); */
  background-image: linear-gradient(250deg, rgba(33, 50, 96, 0.24), rgba(33, 50, 96, 0.62)), url('img/landing-page.png');
  left: 0px;
}
.free-trial-form{
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
}
.free-trial-form h3{
  font-size: 50px;
  font-weight: 900;
}
.trial-form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.trial-form input[type=text]{
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  margin-top: 12px;  
  font-size: 23px;
}
.trial-form input[type=text]{

}
.trial-form input[type=submit]{
  border: none;
  outline: none;
  padding: 19px;
  border-radius: 5px;
  background: #2b3541;
  /* background: #4D8AF0; */
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
.trial-form input[type=submit]:hover{
  opacity: 0.9;
}
.what-we-offer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-container{
  height: 189px;
  max-width: 700px;
  position: absolute;
  top: 37.6rem;
  /* left: 25%; */
  background: #f4f4f4;
  box-shadow: -4px 8px 10px 3px rgba(33, 50, 96, 0.24);
  backdrop-filter: blur(4px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-items{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -4px 8px 10px 3px rgba(255, 123, 37, 0.25); */
  margin:0px 123px;
  gap: 25px;
  height: 100px;
  padding: 30px;
  max-width: 100%;
  color: #213260;
}
.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 9px;
  float: left;
}
.logo p{
  color: #333;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}
.features-section-2{
  height: 1024px;
  position: relative;
  top: 130px;
}

.features-section-2 .heading-con{
  padding: 9rem;
}
.features-section-2 #logo-heading{
  text-align: center;
  font-size: 3rem;
}
.features-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.features-summary{
  width: 59%;
  display: block;
  margin: 0 auto;
  line-height: 29px;
  height: 84px;
  position: relative;
  top: 91px;
  text-align: center;
  margin-bottom: 18rem;
}
.features-summary h3{
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 500;
}
.features-summary #second-summary h3{
  white-space: nowrap;
  font-weight: 500;
  font-size: 28px;
  font-style: bold;
}
.hello-to-pace-container{
  position: relative;
  height: 185px;
  width: 1024;
  top: 300px;
  color: #ffff;
  text-align: left;
  padding: 20px 0px 0px 70px ;
  line-height: 38px;
}
.hello-to-pace-container h2{
  font-size: 2.6rem;
  margin-top: 35px;
}
/*feedback icon*/
.feedback img{
  width: 100px;
  position: fixed;
  bottom: 20px;
  z-index: 99;
  right: 0px;
}



/* MEDIA QUERY */
@media only screen  and (max-width: 600px) {
  .trial-form{
    margin-right: 30px;
  }
}


@media only screen  and (max-width: 810px) {

  .features-container{
    max-width: 400px;
    height: 280px;
  }
  .features-items{
    display: unset;
    margin:0px 0px;
  }
  .features-container{
    display: block;
  }
  .features-items .logo{
    display: block;
    float: left;
    width: 33.33%;
    margin: 9px 0px;
  }
  .logo img{
    width: 20px;
    
  }
  .mobile-align{
    position: relative;
    bottom: 21px;
  }

  .features-summary #second-summary,
  .features-summary h3{
    text-align: center;
    line-height: 3rem;
    padding: 12px;

  }

  .features-summary{
    margin-bottom: 30rem;
  }
  .features-section-2 .heading-con{
    margin-top: 123px;
  }
  .features-section-2 #logo-heading{
    font-size: 1.32rem;
    text-align: center;
  }


}

@media only screen and (max-width: 410px){
  .free-trial-form{
    top: 10%;
    right: 13px;
  }
  .free-trial-form h3{
    margin-bottom: 130px;
  }
  .features-container{
    margin-top: 110px;
    width: 360px;
  }
  .trial-form{
    margin-right: 30px;
  }
  .features-section-2{
    top: 223px;
  }
  .features-section-2 .heading-con{
    padding: 1rem;
  }
  .features-section-2 #logo-heading{
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .features-section-2-logo img{
    width: 200px;
  }

  .features-summary{
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 91px;
    text-align: center;
    margin-bottom: 28rem;
  }

  .features-summary h3{
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .features-summary #second-summary h3{
    white-space: nowrap;
    font-weight: 500;
    font-size: 28px;
    font-style: bold;
  }


  /*feedback icon*/
  .feedback img{
    width: 100px;
    position: fixed;
    bottom: 50px;
    z-index: 99;
    right: 20px;
  }



}
