body{
  /* background-color: rgb(253, 136, 95); */
  background: rgba(33, 50, 96, 0.05);
  background-image: linear-gradient(250deg, rgba(33, 50, 96, 0.24), 
                  rgba(33, 50, 96, 0.62)), 
                    url('/assets/img/register/bg-img.png');

  background-repeat: no-repeat;
  position: right;
}
.login-container{
  width: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 35px;
}
.form-wrapper .form img.logo{
  width: 30px;
  height: 30px;
  position: relative;
  top: 17px;
  margin-bottom: 25px;
}
.form-wrapper .form h3{
  font-size: 35px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.form-wrapper .form img{
  position: relative;
  top: 7px;
  width: 70px;
  /* margin: 15px; */
}
.form-wrapper .form{
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 502px;
  height: 550px;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 15px;
  /* margin: 50px;
  margin-top: 100px; */
}
.form-wrapper .form input{
  padding: 10px;
  margin: 12px;
  width: 70%;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #333;
  /* background: #e6e6e6; */
  /* background: #ffaa8b; */
  box-sizing: border-box;
  border: 1px solid rgba(33, 50, 96, 0.62);
  font-size: 21px;
  transition: ease-in-out, width .35s ease-in-out;
  font-family: monospace;
}
.form-wrapper .form input:focus{
  /* border-bottom: 1px solid #f14d11; */
  background: rgba(33, 50, 96, 0.1);
  transition: ease-in-out, width .35s ease-in-out;
  color: black;
}
i{
  color: rgba(33, 50, 96, 0.62);
}
.form-wrapper .form span{
  padding: 15px;
}
.form-wrapper .form span a{
  margin: 10px;
}
.form-wrapper .form a{
  text-decoration: none;
  color: rgba(33, 50, 96, 0.8);
  font-weight: 600;
}
/* Button Style */
.form-wrapper .form input[type=submit]{
  background: #2b3541;
  color: white;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  opacity: 0.9;
}
.form-wrapper .form input[type=submit]:hover{
  opacity: 0.8;
}

/* MEDIA QUERY */
/* @media (max-width: 800px) {
  .form-wrapper{
    width: 411px;
  }
} */
