@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin:0;
    padding:0;
  }
  *{
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
  }
  /*/////////////////////////////////////////////////////////////////////////////////////////////*/
  /*========================================== FIRST TOAST =====================================*/
  /*/////////////////////////////////////////////////////////////////////////////////////////////*/
  div#toast-wrapper{
      border:1px solid gray;
      border-radius:5px;
      box-shadow:2px 3px 10px gray;
      display:flex;
      flex-direction:column;
      width:270px;
      right:4%;
      top:13%;
      position:absolute;
      background:#fff;
    }
  div#toast-wrapper .toast-header{
    border:hidden;
    border-bottom:1px solid black;
    display:flex;
  }  
  div#toast-wrapper .toast-header img{
    width:30px;
    height:30px;
    border-radius:4px;
    padding:7px;
  }  
  div#toast-wrapper .toast-header span.pace{
    font-size:17px;
    line-height:30px;
  }
  div#toast-wrapper .toast-header span.time{
    font-size:12px;
    line-height:30px;
    font-style:italic;
  }
  div#toast-wrapper .toast-header span.cancel{
    font-size:17px;
    font-weight:bold;
    line-height:18px;
    line-height:30px;
    cursor:pointer;
  }
  div#toast-wrapper .toast-body{
    padding-left:3px;
    background:rgb(33,50,96);
  }
  div#toast-wrapper .toast-body h4{
    font-weight:500;
    line-height:16px;
    font-size:15px;
    color:white;
  }
  /*/////////////////////////////////////////////////////////////////////////////////////////////*/
  /*========================================== SECOND TOAST =====================================*/
  /*/////////////////////////////////////////////////////////////////////////////////////////////*/
    div#toast-wrapper2{
      border:1px solid gray;
      border-radius:5px;
      box-shadow:2px 3px 10px gray;
      display:flex;
      flex-direction:column;
      width:270px;
      right:4%;
      top:29%;
      position:absolute;
      background:#fff;
    }
  div#toast-wrapper2 .toast-header2{
    border:hidden;
    border-bottom:1px solid black;
    display:flex;
  }  
  div#toast-wrapper2 .toast-header2 img{
    width:30px;
    height:30px;
    border-radius:4px;
    padding:7px;
  }  
  div#toast-wrapper2 .toast-header2 span.pace2{
    font-size:17px;
    line-height:30px;
  }
  div#toast-wrapper2 .toast-header2 span.time2{
    font-size:12px;
    line-height:30px;
    font-style:italic;
  }
  div#toast-wrapper2 .toast-header2 span.cancel2{
    font-size:17px;
    font-weight:bold;
    line-height:18px;
    line-height:30px;
    cursor:pointer;
  }
  div#toast-wrapper2 .toast-body2{
    padding-left:3px;
    background:rgb(33,50,96);
  }
  div#toast-wrapper2 .toast-body2 h4{
    font-weight:500;
    line-height:16px;
    font-size:15px;
    color:white;
  }
  
  /* ///////////////////////////////////////////////// LOGOUT WRAPPER STYLING ///////////////////////////////// */
  div.logout-wrapper{
    border:hidden;
    width: 100%;
    height:100vh;
  }
  div.logout-wrapper .pace-logo{
    border:hidden;
    width:20%;
    margin:30px auto;
  }
  hr{
    width:100%;
  }
  div.logout-wrapper .pace-logo img{
    width:50px;
    height:50px;
  }
  div.logout-wrapper .pace-logo a{
    text-decoration:none;
  }
  div.logout-wrapper .pace-logo a .pace{
    font-size:50px;
    font-weight:500;
    font-style:italic;
    color:rgb(33,50,96);
  }
  div.logout-wrapper .logout-info-wrapper{
    border:hidden;
    width:50%;
    margin:50px auto;
    padding:20px;
  }
  div.logout-wrapper .logout-info-wrapper h1{
    font-size:50px;
    text-align:center;
    color:rgb(33,50,96);
  }
  div.logout-wrapper .logout-info-wrapper h4{
    font-size:23px;
    text-align:center;
    color:rgb(33,50,96);
  }
  div.logout-wrapper .logout-info-wrapper h4 a{ 
    text-decoration:none;
  }
  div.logout-wrapper .logout-info-wrapper .btn{
    border:hidden;
    width:35%;
    margin:auto;
  }
  div.logout-wrapper .logout-info-wrapper .btn a button{
    width:100%;
    margin:auto;
    font-size:20px;
    padding:5px;
    border-radius:10px;
    outline:none;
    border:none;
    background:rgb(33,50,96);
    color:white;
    cursor:pointer;
  }
  div.logout-wrapper .logout-info-wrapper .btn a button:hover{
    background:rgba(33,50,96,.85);
    transition:600ms ease-in-out;
  }
  div.contact{
    border:hidden;
  }
  div.contact h4{
    text-align:center;
    font-weight:500;
    font-size:19px;
  }
  div.contact h4 a{
    font-weight:bold;
    text-decoration:none;
    color:rgb(33,50,96);
  }
  
  