body{
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
/* UncleBay touched here */
/* MAKE PAGE LINK ACTIVE */
.nav-list a.pricing{
    background: #fff;
    color:#333;
}
*{
    padding: 0;
    margin: 0;
}

.con{
    width: 90%;
    margin: 50px auto;
}

.con h2:first-of-type{
    text-align: center;
    margin: auto;
    padding-top: 70px;
    font-size:30px;
}

.con .prices{
    display: flex;
    justify-content: space-around;
    padding: 70px 0 20px 0;
}

.con .prices h3{
    font-size: 2rem;
}


.con .prices em{
    font-size: 0.9rem;
}

.con .prices h1{
    font-size: 3rem;
}

.con .prices .free h1 span img{
    /* margin-right: -5px; */
}

.con .prices p{
    font-size: 1rem;
}


.con .prices .free{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 20%;
}

.con .prices .free .heading{
    border: solid 2px #213260;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
}

/* touch here  */
.con .prices .free .heading button{
    padding: 7px 30px;
    border-radius: 10px;
    background: #213260;
    color: white;
    border: none;
    font-size:16px;
}

.con .prices .free .body{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border: solid 1px #213260;
    border-radius: 10px;
    padding: 20px 10px;
    height: 120%;
}

.con .prices .free .body p{
    padding-bottom: 20px;
    flex: 1;
}

.con .prices .free .body button{
    padding: 7px 30px;
    border-radius: 10px;
    background: #213260;
    color: white;
    border: none;
    font-size:18px;
}

.con .prices .free .body button:hover, .con .prices .free .heading button:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}
.con .prices .free:nth-of-type(2) .heading, .con .prices .free:nth-of-type(2) .body{
    border: solid 2px #E6899C;
}

.con .prices .free:nth-of-type(2) .heading button, .con .prices .free:nth-of-type(2) .body button{
    background-color: #D64161;
}

.con .prices .free:nth-of-type(3) .heading, .con .prices .free:nth-of-type(3) .body{
    border: solid 2px #b5adca;
}

.con .prices .free:nth-of-type(3) .heading button, .con .prices .free:nth-of-type(3) .body button{
    background-color: #6B5B95 ;
}

.con .others{
    margin-top: 100px;
    text-align: center;
    /* UncleBay touched here */
    cursor: pointer;
}

.con .others h3{
    margin-top: 10px;
}

.con .others p{
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
}

.con .others .each{
    margin-bottom: 10px;
    border-bottom: solid 1px #FF4500;
}

.con .others .each:nth-of-type(1), .con .others .each:nth-of-type(5){
    width: 60%;
    margin: auto;
}

.con .others .each:nth-of-type(4), .con .others .each:nth-of-type(2){
    width: 70%;
    margin: auto;
}

/* Baseet work on the styling of the accordion */
/* styling for the accordion starts */
section.padd-accordion{
    padding:0px 200px;
   }
   section.padd-accordion h2{
       font-family:poppins;
       text-align:center;
       font-size: 2rem;
       color:#213260;
   }
   section.padd-accordion p{
       font-family:poppins;
       font-size:20px;
       text-align:center;
   }
   .accordion {
     background-color: #304377;
     color:#fff;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     border: none;
     font-family:poppins;
     text-align: left;
     outline: none;
     font-size:20px;
     transition: 0.4s;
     margin-top:8px;
     border-radius:10px;
   }
   /* #213260
   rgb(107, 91, 149)
   rgba(107, 91, 149,0.8) */
   .active, .accordion:hover {
     opacity: 0.8;
   }
   
   .accordion:after {
     content: '\21E3';
     color:#fff;
     font-weight: bold;
     float: right;
     margin-left: 5px;
   }
   
   .active:after {
     content: "\21E1";
   }
   
   .panel {
     padding: 0 18px;
     background-color: white;
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
   }
   .panel p{
       font-family:poppins;
       font-size:20px;
   }
/* styling for the accordion Ends */
@media(max-width: 500px){
    .con .prices .free{
        width: 22%;
    }

    .con .prices h3{
        font-size: 1rem;
    }
    
    
    .con .prices em{
        font-size: 0.6rem;
    }
    
    .con .prices h1{
        font-size: 1.8rem;
    }
    
    .con .prices p{
        font-size: 1rem;
    }

    .con .prices .free .body button{
        padding: 5px 5px;
    }

    .con .prices .free .heading button{
        padding: 5px 5px;
    }

    .con .prices .free h1 span img{
        margin-right: 17px;
        margin-left: 5px;
    }

    .con .prices .free .body p{
        font-size: 0.8rem;
    }
}
