body{
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
/* UncleBay touched here */
/* MAKE PAGE LINK ACTIVE */
.nav-list a.pricing{
    background: #fff;
    color:#333;
}
*{
    padding: 0;
    margin: 0;
}
h2{
    text-align:center;
    margin-top:50px;
    font-size:30px;
}
/* styling for the container  starts*/
main.container{
    padding:30px;
}
/* Ends */

/* styling for the pricing card wrapper starts */
section.pricing-card-wrapper{
    border:hidden;
    margin-top:20px;
    display:flex;
    width:100%;
    height:auto;
    justify-content:center;
    /* flex-wrap:wrap; */
}
section.pricing-card-wrapper .pricing-card{
    border:2px solid gray;
    width:20%;
    margin:7px 20px;
    height:560px;
    display:flex;
    flex-direction:column;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
section.pricing-card-wrapper .pricing-card:hover{
    box-shadow:2px 2px 13px gray;
}
.pricing-card .head{
    display:flex;
    flex-direction:column;
    border:hidden;
    border-bottom:1px solid gray;
    height:190px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
.pricing-card .head:hover{
    cursor:pointer;
}
.head .head-focus{
    border:hidden;
    height:50px;
    padding:5px 25px;
}
.head-focus h1{
    font-size:27px;
}
.head-focus h1 span{
    float: right;
    color:white;
    text-shadow:2px 1px 7px black;
}
.head .head-price{
    border:hidden;
     padding:5px 25px;
}
.head .head-price h1{
    font-size:42px;
}
.pricing-card .body-features{
    border:hidden;
    border-top:1px solid gray;
    width:100%;
    height:400px;
    padding:5px 10px;
    position:relative;
}
.pricing-card .body-features button{
    position:absolute;
    bottom:4%;
    left:7%;
    width:85%;
    font-size:18px;
    padding:8px;
    background:#213260;
    border:none;
    outline:none;
    color:#fff;
    border-radius:8px;
}
.pricing-card .body-features button:hover{
    background:rgba(33, 50, 96,0.8);
    transition:500ms ease-in;
    cursor:pointer;
}
/* Ends */

/* Baseet work on the styling of the accordion */
/* styling for the accordion starts */
section.padd-accordion{
    padding:0px 200px;
   }
   section.padd-accordion h2{
       font-family:poppins;
       text-align:center;
       font-size: 2rem;
       color:#213260;
   }
   section.padd-accordion p{
       font-family:poppins;
       font-size:20px;
       text-align:center;
   }
   .accordion {
     background-color: #304377;
     color:#fff;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     border: none;
     font-family:poppins;
     text-align: left;
     outline: none;
     font-size:20px;
     transition: 0.4s;
     margin-top:8px;
     border-radius:10px;
   }
   /* #213260
   rgb(107, 91, 149)
   rgba(107, 91, 149,0.8) */
   .active, .accordion:hover {
     opacity: 0.8;
   }
   
   .accordion:after {
     content: '\21E3';
     color:#fff;
     font-weight: bold;
     float: right;
     margin-left: 5px;
   }
   
   .active:after {
     content: "\21E1";
   }
   
   .panel {
     padding: 0 18px;
     background-color: white;
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
   }
   .panel p{
       font-family:poppins;
       font-size:20px;
   }
/* styling for the accordion Ends */
@media(max-width: 500px){
    .con .prices .free{
        width: 22%;
    }

    .con .prices h3{
        font-size: 1rem;
    }
    
    
    .con .prices em{
        font-size: 0.6rem;
    }
    
    .con .prices h1{
        font-size: 1.8rem;
    }
    
    .con .prices p{
        font-size: 1rem;
    }

    .con .prices .free .body button{
        padding: 5px 5px;
    }

    .con .prices .free .heading button{
        padding: 5px 5px;
    }

    .con .prices .free h1 span img{
        margin-right: 17px;
        margin-left: 5px;
    }

    .con .prices .free .body p{
        font-size: 0.8rem;
    }
}
