body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-image:url('../img/original-bg-image.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

/*  */
.service-price-container {
  border:hidden;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  padding:70px 20px;
}

/* Styling for service price heading starts */
.service-price-container #service-price-heading {
  width:100%;
  border:hidden;
  height:auto;
}
/* text animation to be included in h1 */
.service-price-container #service-price-heading h1 {
  font-family:poppins;
  font-size:30px;
  text-align:center;
  color:salmon;
  text-shadow:1px 0px 1px white;
}
.service-price-container #service-price-heading p {
  text-align:center;
  font-family:poppins;
  font-weight:500;
}
/* Styling for service price heading ends */

/* Styling for service price starts */
.service-price-container .service-price {
  width:100%;
  border:hidden;
  height:auto;
  display:flex;
  justify-content:center;
  padding:70px 0;
}
.service-price-container .service-price-card {
  border:hidden;
  width:300px;
  margin:0px 30px;
  height:480px;
  padding:5px;
  padding-bottom:40px;
  border-bottom-right-radius:40px;
  border-bottom-left-radius:40px;
  box-sizing:border-box;
  box-shadow:2px 2px 5px black;
}
.service-price-container .service-price-card:hover {
  box-shadow:2px 1px 15px black;
  transition:all 400ms;
}
.left,.middle,.right {
  background:white;
  display:flex;
  flex-direction:column;
  flex-basis:auto;
}
.discount {
  border:hidden;
  height:50%;
}
.discount h3 {
  text-align:center;
  font-family:poppins;
  line-height:10px;
  color:salmon;
  color:orangered;
}
.discount p {
  font-family:poppins;
  text-align:center;
}
.discount span {
  font-size:30px;
  font-weight:bold;
  color:#6b5b95;
}
.discount button {
  font-family:poppins;
  display:block;
  margin:auto;
  padding:9px;
  background:orangered;
  border:none;
  outline:none;
  border-radius:10px;
  color:white;
}
.discount button:hover {
  background:#6b5b95;
  transition:all 900ms ease-in-out;
}
.features {
  border:hidden;
  height:50%;
  margin-top:10px;
}
.features h4 {
  font-family:poppins;
  line-height:10px;
  text-align:center;
  color:#6b5b95;
}
.features h4 i {
  color:#6b5b95;
}
.features p {
  line-height:18px;
  font-family:poppins;
  font-size:13px;
  text-align:center;
}