body{
  background: rgba(33, 50, 96, 0.05);
  background-image: linear-gradient(250deg, rgba(33, 50, 96, 0.24), 
                  rgba(33, 50, 96, 0.62)), 
                    url('/assets/img/register/bg-img.png');

  background-repeat: no-repeat;
  position: right;
}
.registration-container{
  width: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 35px;
}
.form-wrapper .form img.logo{
  width: 30px;
  height: 30px;
  position: relative;
  margin: 12px;
}
.form-wrapper .form h3{
  font-size: 35px;
  font-weight: bold;
  font-family: roboto;
}
.form-wrapper .form img{
  position: relative;
  top: 7px;
  width: 70px;
}
.form-wrapper .form{
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 15px;
}
.form-wrapper .form input{
  padding: 25px;
  margin: 12px;
  width: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #333;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(33, 50, 96, 0.1);
  color: #333;
  font-size: 21px;
  transition: ease-in-out, 1s ease-in-out;
}
.form-wrapper .form input:focus{
  background: rgba(33, 50, 96, 0.1);
  font-family: monospace;
  transition: ease-in-out, 1s ease-in-out;
  color: #333;
}

/* Turning <p> to Button Style */
.form-wrapper .form p#form_2Btn{
  background: #131f41;
  color: white;
  font-size: 21px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  opacity: 0.9;
  border-radius: 5px;
  padding: 15px;
}
.form-wrapper .form p#form_2Btn:hover{
  opacity: 0.8;
}
.form-wrapper .form #tandc{
  margin: 1rem;
}
.form-wrapper .form #tandc a{
  text-decoration: none;
  color: rgba(33, 50, 96, 0.8);
  font-weight: 600;
}

/* 
  ------------------------
  POP UP CONT. REGISTRATION 
  -------------------------
*/
.cont-registration{
  display: none;
  position: fixed;
/* prevent navbar from been above */
  z-index: 99; 
  padding-top: 90x;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(146, 138, 138); 
  /* filter: blur(8px) ; */
  /* -webkit-filter: blur(8px);  */
  background-color: rgba(255,255,255,0.6);
  background-image: url("../img/register/dummy-bg.png");
  animation: popup 0.6s;
}

@keyframes popup {
  0%{
    transform: scale(0.3);
  }
  5%{
    transform: scale(0.4);
  }
  /* 60%{
    transform: scale(1.1);
  }
  70%{
    transform: scale(1.2);
  }
  80%{
    transform: scale(1);
  }
  90%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  } */
}

.form-2 span.close_form2{
  cursor: pointer;
  font-size: 21px;
  color:rgb(136, 132, 132);
}
/* Make the form contents align to center */
.cont-registration .form-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 23px;
  width: 50%;
  margin: 0 auto;
  background: #fff;
}

/* style the label and their input */
.cont-registration .form-2 .form-detail{
  display: flex;
  flex-direction: column;
  gap: 23px;
  color: rgb(141, 139, 139);
}

.cont-registration .form-2 .form-detail input[type=text],
.cont-registration .form-2 .form-detail input[type=number],
.cont-registration .form-2 .form-detail input[type=password]{
  padding: 18px 20px;
  background: #ffffff;
  border: 1px solid #cdd3df;
  border-radius: 5px;
  outline:none;
  font-size: 19px;
  color: rgb(90, 69, 69);
}

.cont-registration .form-2 .form-detail input[type=text]:focus,
.cont-registration .form-2 .form-detail input[type=number]:focus,
.cont-registration .form-2 .form-detail input[type=password]:focus{
  background: rgba(33, 50, 96, 0.1);
  transition: all 1s ease-in-out;
  color: rgb(75, 66, 66);
}

/* Button and terms */
.cont-registration .form-2 .form-links{
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.cont-registration .form-2 .form-links input[type=submit]{
  padding: 15px;
  width: 120px;
  border: none;
  background: #131f41;
  color: #fff;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

/* style privacy and signup button */
.cont-registration .form-2 .form-links{
  display: flex;
  flex-direction: column;
}
.const-registration .form-2 .form-links span input[type=checkbox]{
  background: red;
}
.form-2 .form-links a{
  text-decoration: none;
  color: rgba(33, 50, 96, 0.8);
  font-weight: 600;
}



/* MEDIA QUERY 
@media (max-width: 800px) {
  .form-wrapper{
    width: 411px;
  }
}*/
