/* CSS reset */
body{
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
*{
    color: #2b394a;
}
/* body */
#tasksInternalName{
    font-size: 18px;
    text-transform: capitalize;
}
main{
    background-color: #f2f2f2;
    padding-bottom: 20px;
}
#new-task-main{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
#new-task-main #add-task-display{
    width: 20%;
    height: 100%;
    margin: 100px auto;
}
#new-task-main input{
    outline: none;
    padding: 9px 5px;
    margin: 7px 40px;
    width: 70%;
    border-radius: 10px;
    border: #f2f2f2 2px solid;
}
#new-task-main .employee{
    position: absolute;
    width: 70%;
    margin: 7px 40px;
    margin-top: -10px;
    border-radius: 10px;
    z-index: 3;
}
#new-task-main #employee-search{
    position: relative;
    width: 100%;
    /* height: 20px; */
}
#new-task-main #employee-search input{
    margin-top: 5px;
}
#new-task-main .employee > div:hover{
    background-color: rgb(208, 223, 245);
}
#new-task-main .employee > div{
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 5px 5px;
    border: 1px #f2f2f2 solid;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}
#new-task-main div input:first-of-type{
    margin-top: 40px;
}
#new-task-main #add-task-display{
    background-color: white;
    height: 63%;
    width: 30%;
}
#new-task-main #add-task-display #add-file-con{
    display: flex;
}
#new-task-main #add-task-display #add-file-con #file{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0;
    width: 40%;
    border: none;
}
/* #new-task-main #add-task-display #add-file-con #file{
    outline: none;
    border: none;
} */
#new-task-main #add-task-display #add-file-con #file-label{
    margin: auto 40px;
    margin-right: 10px;
}
#new-task-main button{
    outline: none;
    padding: 7px 9px;
    margin: 7px;
    background-color: #213260;
    color: white;
    border: none;
    border-radius: 10%;
}
#new-task-main button:first-of-type{
    margin-left: 40px;
}
#add-task-main{
    text-align: center;
    display: flex;
}
#add-task-main button{
    justify-self: center;
    align-self: center;
    margin: 0 auto 30px; 
}
#add-task-main a{
    justify-self: flex-start;
    margin: auto 30px;
    text-decoration: none;
    color: darkgray;
}
#add-task-main button{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 7px 7px;
    margin-top: 30px;
    background-color: #3b4664;
    color: white;
}
.tasks-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}
#assigned-task-main{
    width: 60%;
    height: 100%;
    background-color: white;
    overflow: overlay;
}
#assigned-task-main h3, #unassigned-task-main h3{
    text-align: center;
    margin: 10px auto;
    color: #2b394a;
}
.tasks-main #assigned-task-main .main-task, .tasks-main #unassigned-task-main .main-unassigned{
    margin: 30px auto;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 95%;
    background-color: #d6ddf3;
}
.tasks-main #assigned-task-main .main-task{
    position: relative;
}
.tasks-main #unassigned-task-main .main-unassigned{
    width: 90%;
    padding-bottom: 10px;
    /* background-color: white; */
}
.tasks-main #unassigned-task-main{
    overflow: overlay;
}
.tasks-main #assigned-task-main .main-task p, .tasks-main #unassigned-task-main .main-unassigned p:first-of-type{
    margin: 5px 20px 5px 20px;
}
.tasks-main #unassigned-task-main .main-unassigned p:last-of-type{
    margin: 5px 10px 10px 10px;
    font-size: 14px;
}
#dateAndButtons{
    display: flex;
}
#dateAndButtons #date{
    margin-top: 10px;
    flex: 1;
}
.tasks-main #assigned-task-main .main-task .edit-Main{
   background-color: white; 
   padding: 20px 27px 0;
   display: none;
   position: absolute;
   top: 100%;
   /* width: 100%; */
   z-index: 2;
   border: #f2f2f2 solid 2px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: #d6ddf3;
   opacity: 0.9;
}
.tasks-main #assigned-task-main .main-task .edit-Main .edit-employee{
    position: relative;
}
.tasks-main #assigned-task-main .main-task .edit-Main section .suggestions{
    position: absolute;
    top: 100%;
    z-index: 3;
    overflow: hidden;
    width: 200px;
    margin-top: -10px;
}
.tasks-main #assigned-task-main .main-task .edit-Main section {
    position: relative;
}
.tasks-main #assigned-task-main .main-task .edit-Main section .suggestions > div{
    padding: 7px 0;
    border: 2px #f2f2f2 solid;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}
.tasks-main #assigned-task-main .main-task .edit-Main section .suggestions > div:hover{
    background-color: rgb(208, 223, 245);
}
.tasks-main #assigned-task-main .main-task .edit-Main input{
    margin-bottom: 10px;
    outline: none; 
    padding: 7px 5px;
    border-radius: 5px;
    border: #f2f2f2 solid 2px;
    width: 220px;
}
.tasks-main #assigned-task-main .main-task .edit-Main button{
    padding: 7px 10px;
    background-color: #3b4664;
}
.tasks-main #assigned-task-main .main-task .edit-Main button{
    background-color: #3b4664;
}
.tasks-main #unassigned-task-main .main-unassigned #unAssignedSearch input{
    outline: none;
    margin-top: 8px;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 3px 0;
    position: relative;
}
.tasks-main #unassigned-task-main #unAssignedSearch.suggestionAutocomplete{
    position: sticky;
    top: 100%;
    z-index: 3;
    background-color: white;
}
.tasks-main #unassigned-task-main #unAssignedSearch{
    margin-left: 20px;
}
.tasks-main #unassigned-task-main #unAssignedSearch .suggestionAutocomplete > div{
    background-color: white;
    border: solid #f2f2f2 2px;
    border-radius: 5px;
}
.tasks-main #unassigned-task-main .main-unassigned #unAssignedSearch .suggestionAutocomplete > div:hover{
    background-color: rgb(208, 223, 245);
}
.tasks-main #assigned-task-main .main-task span{
    width: 300px;
    margin: 0 10px 0 20px;
}
.tasks-main #assigned-task-main .main-task button, .tasks-main #unassigned-task-main .main-unassigned .assignEmployee button{
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    border: none;
    padding: 7px 7px;
    border-radius: 5px;
    background-color: seagreen;
    color: white;
}
.tasks-main #assigned-task-main .main-task button:first-of-type, .tasks-main #unassigned-task-main .main-unassigned .assignEmployee button{
    background-color: rgb(179, 24, 24);
    margin-right: 10px;
}
.tasks-main #unassigned-task-main .main-unassigned .assignEmployee .to-Assign-Unassigned{
    background-color: rgb(23, 23, 87);
}
.tasks-main #unassigned-task-main .main-unassigned .assignEmployee button{
    margin: 5px 3px 10px 10px;
    padding: 7px;
}
.tasks-main #assigned-task-main .main-task button:last-of-type{
    margin-right: 30px;
}
#unassigned-task-main{
    width: 34%;
    height: 100%;
    background-color: white;
}
#unassigned-task-main .assignEmployee{
    display: flex;
}