#todo-list-section {
    padding: 50px;
    text-align: center;
    margin-right: 30%;
}

#todo-list {
    padding: 15px;
    border: 2px solid #213260;
    border-radius: 5px;
    width: 45%;
}

.addUp {
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 30%;
    font-size: 1rem;
    color: #fff;
    background-color: #008800;
    cursor: pointer;
}

i.far {
    color: red;
    font-size: 1.3rem;
    padding: 15px;
}

i.fab {
    color: #213260;
    font-size: 1.3rem;
}