@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
a{
  text-decoration: none;
  color: #213260;
  font-family: 700;
}

/* fonts */
.roboto-slab{
  font-family: 'Roboto Slab';
}

.open-sans{
  font-family: 'Open Sans';
}

/* input font-families */
input[type=text],
input[type=email],
input[type=tel]{

  font-family: 'Open Sans'

}

/* Pace logo style */
.pace-logo{
  color: #213260;
  text-transform: capitalize;
}


/* a tag to button */

.to-btn{
  opacity: 0.9;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border-radius: 5px;
}

.to-btn:hover{
  opacity: 0.8;
}

/* button with font-size */
.btn-size-18{
  color: #333;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-size-18:hover{
  opacity: 0.8;
}

.btn-deep{
  background: #131f41;
  color: rgb(255, 255, 255)
}

.btn-light{
  color: #333;
  background: #fff;
}



/* Error Message */

#errorMessage{
  font-size: 19px;
  color: #131f41;
  margin: 2px;
}



