/* 
==================================
*********   RESET ****************
==================================
 */
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }
 html, body {
     padding: 0;
     margin: 0;
     line-height: 1.6;
     font-family: 'Roboto', sans-serif;
 }
 .form-heading {
     margin: 1.5rem 5rem;
 }
 a{
     text-decoration: none;
 }
 p {
     text-align: center;
 }
 .container {
     display: flex;
     justify-content: space-around;
     background: #fff;
     width: 100%;
     height: 100vh;
     margin: 0 auto;
     padding: 5rem 1.5rem;
 }

 .form-con{
     width: 60%;
 }
 
 .form-con {
    margin: 0 10rem;
 }
 .form-con form {
     display: flex;
     flex-direction: column;
     width: 50%;
 }
 .form-con h3, .form-con p{
     color: #1e3b8b;
 }
 .form-con p {
     font-size: 1.2rem;
 }
 .form-con a{
     color: #4D8AF0;
 }
 .container .image-con img {
     max-height: 100vh;
     max-width: 100%;
 }
 label {
     margin: .2rem;
     font-size: 1.5rem;
 }
 input {
     margin: .5rem .5rem 1rem;
     padding: 1.5rem;
     border: 1px solid #ccc;
     border-radius: 8px;
     font-size: 1.2rem;
     outline: none;
 }
 input:focus {
     border: 1px solid #4D8AF0;
 }
 ::placeholder {
    /* color: #213260; */
    color: #1e3b8b;
 }
 input.submit {
     background: #4D8AF0;
     color: #fff;
     opacity: .9;
     font-size: 1.5rem;
     text-transform: uppercase;
}
input.submit:hover {
    opacity: 1;
    cursor: pointer;
}
 
