/* 
==================================
*********   RESET ****************
==================================
 */
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }
 html, body {
     padding: 0;
     margin: 0;
     line-height: 1.6;
     font-family: 'Roboto', sans-serif;
     white-space: nowrap;
 }
 h3 {
     color: #4D8AF0;
 }
 h4 {
     color: #1e3b8b;
 }
 .container {
     margin: 5rem auto 0;
 }

 @media(max-width:768px) {
     h4 {
         font-size: 1rem;
     }
     img {
         /* visibility: hidden; */
     }
     /* .mobile {
         display: flex;
         flex-direction: column;
         max-width: 100%;
     } */
     
 }
 .form-heading {
     margin: 0 0 2rem;
 }
 .form-control:focus {
    /* color: #495057;
    background-color: #fff; 
    border-color: #80bdff;
    outline: 0; */
    box-shadow: none;
    border: 1px solid #4D8AF0;
    outline: none;
}
 
 .form-control::placeholder {
    color: #1e3b8b;
 }
 .btn-primary {
     background: #4D8AF0;
     color: #fff;
     opacity: 1;
}
.btn-primary:hover {
    background: #1e3b8b;
    opacity: 1;
    cursor: pointer;
}
 
