/* 
==================================
*********   RESET ****************
==================================
 */
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }
 html, body {
     padding: 0;
     margin: 0;
     line-height: 1.6;
     font-family: 'Roboto', sans-serif;
 }
 h3 {
     color:#335eea;
 }
 h4 {
     color:#FF6584;
 }
 form a {
     color: #FF6584;
 }
 form a:hover {
     color: #335eea;
     text-decoration: none;
 }
 
.con{
    display: flex;
    justify-content: space-between;
    height: 60%;
    width: 100%;
    margin: 0 auto;
}
.form-con {
    margin: .5rem;
}
.img-con {
    width: 50%;
}

.img-con img{
    max-width: 100%;
}

 @media(max-width:768px) {
    .con{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
    }
    .form-con, .img-con{
        width: 100%;
    }
 }
 @media(max-width:768px) {
     h4 {
         font-size: 1.2rem;
     }
 }
 form p {
     margin: .5rem 0;
 }
 .form-heading {
     margin: 0 0 2rem;
 }
 .form-control:focus {
    box-shadow: none;
    border: 1px solid#335eea;
    outline: none;
}

 .form-con form .btn-primary {
     background:#335eea;
     width: 100%;
     color: #fff;
     opacity: .9;
}
.form-con form .btn-primary:hover {
    opacity: 1;
    cursor: pointer;
}

footer .socials {
    background: rgb(51,94,234);
    margin: 3rem 0 0;
}
