/* utilities */

a{
  text-decoration: none;
}

input{
  border: 1px solid #e6e6e6;
  font-size: 1.0625rem !important;
  outline: none;
  background: #fcfcfc;
}



/* Page styles */

body{
  background: #fcfcfc;
  color: #161c2d;
}

#logo{
  color: rgb(51,94,234);
  font-size: 40px;
  font-weight: 700;
}

#this_nav .navbar-nav .nav-link{
  color: #506690;
}

#this_nav .navbar-nav .nav-link:hover{
  color: rgb(51,94,234);
}



.home-intro-text{
  margin-top: 50px;
}

.home-intro-text p{
  color: #869ab8;
  margin-top: 12px;
}

.home-intro-img{
  margin-top: 30px;
}

.home-intro-btn{
  margin-top: 70px;
}

.home-intro-btn #login-btn{
  margin-right: 12px;
}

.to-btn{
  background: rgb(51,94,234);
  color: #fff;
  padding: .5625rem 1rem;
  font-size: 1.0625rem;
}

.trial-form h4{
  margin-right: 24.3rem;
}

.trial-form button{
  background: rgb(51,94,234);
  color: #fff;
  width: 270px;
  color: rgb(51,94,234) !important;
  font-weight: 700;
  border: none;
  background: #E6E6E6 !important;
}

/* landing page section 0 */

#pace-summary{
  margin-top: 7rem;
  margin-bottom: 7rem;
}

#pace-summary svg{
  color:#335eea;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

#pace-summary h3{
  margin: 0.8rem 0rem;
  color: #161c2d;
  font-weight: 370;
}

#pace-summary p{
  margin: 0.8rem 0rem;
  color: #869ab8;
}

.block blockquote{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.block img{
  max-width: 100%;
  height: auto;
}




@media (min-width: 992px){
  
  #logo{
    margin-left: 100px;
  }
  
  .navbar-nav{
    margin:  0 auto;
  }
  
  .nav-link{
    margin: 0rem .9rem;
    padding: 3rem;
    font-size: 1.21rem;
  }

  #get-started-btn{
    margin-right: 100px;
  }
  .home-intro{
    margin-top: 80px;
    flex-direction: row !important;
  }

  .home-intro-text p{
    width: 600px;
  }

  .block{
    margin-bottom: 7rem;
  }

  .block blockquote{
    margin-top: 12px;
  }

  .block img{
    max-width: 70%;
    height: auto;
    backface-visibility: hidden;
    border-radius: .625rem;
    box-shadow: 25px 60px 125px -25px rgba(80,102,144,.1), 16px 40px 75px -40px rgba(0,0,0,.2);
  }
  
  .block-1 img{
    transform: rotateY(-25deg) rotateX(25deg);
  }

  .block-2 img{
    transform: rotateY(25deg) rotateX(25deg);
  }

}