/* import google font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  margin:0;
  padding:0;
}
*,
*::before,
*::after{
  font-family: 'Roboto', sans-serif;
}
.card-deck{
  flex-wrap:wrap;
  margin:5px;
}
.head-text{
  font-weight:600;
  text-transform:uppercase;
  font-size:26px;
}
.price{
  font-weight:800;
}
.card-header{
  background-color:transparent;
}
hr{
  width:50px;
  border:1px solid black;
  box-shadow:3px 2px 8px blue;
}
.duration{
   font-size:24px;
}
.badge-primary{
  font-size:18px;
}