body{
  margin:0;
  padding:0;
  background: #fcfcfc;
}
*,
*::before,
*::after{
  box-sizing:border-box;
}
.price-heading{
  margin-top:40px;
  border:hidden;
  padding:10px;
}
.price-heading2{
  margin-top:80px;
}
.trial{
  color:#506690;
}
.para{
  color:#506690;
}
.free{
  color: #FF6584;
}
.choose{
  color:#506690;  
}
.btn-primary{
  background:#FF6584;
  border-radius:50px;
  border:hidden;
  transition:500ms ease-in;
}
.btn-primary:hover{
  background:#506690;
  transition:500ms ease-out;
}
/* styling for the cards starts */
.card-group{
  margin-top:40px;
}
.card-group .card{
  border-radius:5px;
  margin:5px;
  margin-top:30px;

}
/* .top{
  margin-top:30px;
  box-sizing:border-box;
} */
.card h1{
  font-weight:bolder;
}
.card img{
  height:160px;
  border-bottom:1px solid gray;
  display:flex;
  justify-content:center;
}
div.card-footer{
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
div.card-footer button.free-btn{
  border:1px solid white;
  width:90%;
  background:white;
  color:#506690;
  font-weight:bold;
}
div.card-footer button.free-btn:hover{
  border:1px solid white;
  background:#506690;
  color:white;
}
div.card-footer button.basic-btn{
  border:1px solid white;
  width:90%;
  background:white;
  color:#FF63E5;
  font-weight:bold;
}
div.card-footer button.basic-btn:hover{
  border:1px solid white;
  background:#FF63E5;
  color:white;
}
div.card-footer button.premium-btn{
  border:1px solid white;
  width:90%;
  background:white;
  color:#FF6584;
  font-weight:bold;
}
div.card-footer button.premium-btn:hover{
  border:1px solid white;
  background:#FF6584;
  color:white;
}
div.card-footer button.enterprise-btn{
  border:1px solid white;
  width:90%;
  background:white;
  color:#F9B726;
  font-weight:bold;
}
div.card-footer button.enterprise-btn:hover{
  border:1px solid white;
  background:#F9B726;
  color:white;
}
/* styling for the cards Ends */

.collapse.show{
  content:"\2709";
}